<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>be_custom</key>
	<array>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>tid</key>
			<string>5</string>
			<key>tname</key>
			<string>古风</string>
			<key>tsort</key>
			<string>1</string>
			<key>ttheme</key>
			<string>896d63</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>tid</key>
			<string>15</string>
			<key>tname</key>
			<string>现代</string>
			<key>tsort</key>
			<string>2</string>
			<key>ttheme</key>
			<string>5b89cb</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>tid</key>
			<string>241</string>
			<key>tname</key>
			<string>架空</string>
			<key>tsort</key>
			<string>3</string>
			<key>ttheme</key>
			<string>27bec6</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>tid</key>
			<string>7</string>
			<key>tname</key>
			<string>明星</string>
			<key>tsort</key>
			<string>4</string>
			<key>ttheme</key>
			<string>b466bf</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_a9ed52fa40ad268f9571437df9605dde.png</string>
			<key>tid</key>
			<string>569</string>
			<key>tname</key>
			<string>非遗</string>
			<key>tsort</key>
			<string>5</string>
			<key>ttheme</key>
			<string>71bb62</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_158c87f34afb7f8df41bb2a9a30659e0.png</string>
			<key>tid</key>
			<string>566</string>
			<key>tname</key>
			<string>光影</string>
			<key>tsort</key>
			<string>6</string>
			<key>ttheme</key>
			<string>837c96</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_fe4592e5f4c341eba4cd4a1976f52db6.png</string>
			<key>tid</key>
			<string>568</string>
			<key>tname</key>
			<string>小说</string>
			<key>tsort</key>
			<string>7</string>
			<key>ttheme</key>
			<string>b1986e</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7291276_5e006365268aa795a18488a51fb78aaf.png</string>
			<key>tid</key>
			<string>4</string>
			<key>tname</key>
			<string>耽美</string>
			<key>tsort</key>
			<string>8</string>
			<key>ttheme</key>
			<string>fa8da5</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201605/7172428_c89478d6a3cf51a536db7edcb4f08bf1.png</string>
			<key>tid</key>
			<string>10491</string>
			<key>tname</key>
			<string>编推</string>
			<key>tsort</key>
			<string>10</string>
			<key>ttheme</key>
			<string>c4d83a</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201605/7172428_bf84a63bcfa665aeb8e924b499eae660.png</string>
			<key>tid</key>
			<string>533</string>
			<key>tname</key>
			<string>签约</string>
			<key>tsort</key>
			<string>10</string>
			<key>ttheme</key>
			<string>56b9e8</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_7ba3788446ba33d02d6d8fa8745f4b91.png</string>
			<key>tid</key>
			<string>10793</string>
			<key>tname</key>
			<string>竖版</string>
			<key>tsort</key>
			<string>13</string>
			<key>ttheme</key>
			<string>6b6193</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_396546492e5b5977660ab2fb904c9d27.png</string>
			<key>tid</key>
			<string>10385</string>
			<key>tname</key>
			<string>ZERO-G</string>
			<key>tsort</key>
			<string>14</string>
			<key>ttheme</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_ffc2ffe9fe48290d9753dfe0de9056be.png</string>
			<key>tid</key>
			<string>10402</string>
			<key>tname</key>
			<string>大逃杀</string>
			<key>tsort</key>
			<string>15</string>
			<key>ttheme</key>
			<string>f45d5a</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_789b792b27b1ffed242cacefe95d3f49.png</string>
			<key>tid</key>
			<string>10528</string>
			<key>tname</key>
			<string>现实主义</string>
			<key>tsort</key>
			<string>16</string>
			<key>ttheme</key>
			<string>4a5060</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_a54aa0c746e6f9525b854f8fecc57271.png</string>
			<key>tid</key>
			<string>545</string>
			<key>tname</key>
			<string>男性向</string>
			<key>tsort</key>
			<string>17</string>
			<key>ttheme</key>
			<string>605c5b</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_0a0ca50686e4edbd0dc249249e63e13f.png</string>
			<key>tid</key>
			<string>10794</string>
			<key>tname</key>
			<string>万花筒</string>
			<key>tsort</key>
			<string>18</string>
			<key>ttheme</key>
			<string>464451</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_20e70e70ae10c0091715a41fe7e99a9f.png</string>
			<key>tid</key>
			<string>286</string>
			<key>tname</key>
			<string>完结</string>
			<key>tsort</key>
			<string>19</string>
			<key>ttheme</key>
			<string>254c86</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_ba95e5898cc4829d5d44ff4a7eef57bd.png</string>
			<key>tid</key>
			<string>10795</string>
			<key>tname</key>
			<string>新晋完结</string>
			<key>tsort</key>
			<string>20</string>
			<key>ttheme</key>
			<string>268bc0</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_b745fb4270276cb95ebab0e9c1926782.png</string>
			<key>tid</key>
			<string>10796</string>
			<key>tname</key>
			<string>2016赛季</string>
			<key>tsort</key>
			<string>21</string>
			<key>ttheme</key>
			<string>ff9f38</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_f25452d5cd7427ae6fbb6c7142a73743.png</string>
			<key>tid</key>
			<string>10039</string>
			<key>tname</key>
			<string>第二人称</string>
			<key>tsort</key>
			<string>22</string>
			<key>ttheme</key>
			<string>827ccd</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10908</string>
			<key>tname</key>
			<string>2017赛季</string>
			<key>tsort</key>
			<string>22</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10843</string>
			<key>tname</key>
			<string>长线选项</string>
			<key>tsort</key>
			<string>66</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201609/28428561_a5e2f075e9cee44d7843c00978f40e87.png</string>
			<key>tid</key>
			<string>10549</string>
			<key>tname</key>
			<string>新作</string>
			<key>tsort</key>
			<string>67</string>
			<key>ttheme</key>
			<string>a4d120</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10842</string>
			<key>tname</key>
			<string>独立场景</string>
			<key>tsort</key>
			<string>68</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10844</string>
			<key>tname</key>
			<string>抓人剧情</string>
			<key>tsort</key>
			<string>69</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10845</string>
			<key>tname</key>
			<string>悬念BE</string>
			<key>tsort</key>
			<string>70</string>
			<key>ttheme</key>
			<string></string>
		</dict>
	</array>
	<key>not_custom</key>
	<array>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7291276_5e006365268aa795a18488a51fb78aaf.png</string>
			<key>tid</key>
			<string>4</string>
			<key>tname</key>
			<string>耽美</string>
			<key>tsort</key>
			<string>8</string>
			<key>ttheme</key>
			<string>fa8da5</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201605/7172428_c89478d6a3cf51a536db7edcb4f08bf1.png</string>
			<key>tid</key>
			<string>10491</string>
			<key>tname</key>
			<string>编推</string>
			<key>tsort</key>
			<string>10</string>
			<key>ttheme</key>
			<string>c4d83a</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201605/7172428_bf84a63bcfa665aeb8e924b499eae660.png</string>
			<key>tid</key>
			<string>533</string>
			<key>tname</key>
			<string>签约</string>
			<key>tsort</key>
			<string>10</string>
			<key>ttheme</key>
			<string>56b9e8</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_396546492e5b5977660ab2fb904c9d27.png</string>
			<key>tid</key>
			<string>10385</string>
			<key>tname</key>
			<string>ZERO-G</string>
			<key>tsort</key>
			<string>14</string>
			<key>ttheme</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_ffc2ffe9fe48290d9753dfe0de9056be.png</string>
			<key>tid</key>
			<string>10402</string>
			<key>tname</key>
			<string>大逃杀</string>
			<key>tsort</key>
			<string>15</string>
			<key>ttheme</key>
			<string>f45d5a</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_789b792b27b1ffed242cacefe95d3f49.png</string>
			<key>tid</key>
			<string>10528</string>
			<key>tname</key>
			<string>现实主义</string>
			<key>tsort</key>
			<string>16</string>
			<key>ttheme</key>
			<string>4a5060</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_a54aa0c746e6f9525b854f8fecc57271.png</string>
			<key>tid</key>
			<string>545</string>
			<key>tname</key>
			<string>男性向</string>
			<key>tsort</key>
			<string>17</string>
			<key>ttheme</key>
			<string>605c5b</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_0a0ca50686e4edbd0dc249249e63e13f.png</string>
			<key>tid</key>
			<string>10794</string>
			<key>tname</key>
			<string>万花筒</string>
			<key>tsort</key>
			<string>18</string>
			<key>ttheme</key>
			<string>464451</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_20e70e70ae10c0091715a41fe7e99a9f.png</string>
			<key>tid</key>
			<string>286</string>
			<key>tname</key>
			<string>完结</string>
			<key>tsort</key>
			<string>19</string>
			<key>ttheme</key>
			<string>254c86</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_ba95e5898cc4829d5d44ff4a7eef57bd.png</string>
			<key>tid</key>
			<string>10795</string>
			<key>tname</key>
			<string>新晋完结</string>
			<key>tsort</key>
			<string>20</string>
			<key>ttheme</key>
			<string>268bc0</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_b745fb4270276cb95ebab0e9c1926782.png</string>
			<key>tid</key>
			<string>10796</string>
			<key>tname</key>
			<string>2016赛季</string>
			<key>tsort</key>
			<string>21</string>
			<key>ttheme</key>
			<string>ff9f38</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_f25452d5cd7427ae6fbb6c7142a73743.png</string>
			<key>tid</key>
			<string>10039</string>
			<key>tname</key>
			<string>第二人称</string>
			<key>tsort</key>
			<string>22</string>
			<key>ttheme</key>
			<string>827ccd</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10908</string>
			<key>tname</key>
			<string>2017赛季</string>
			<key>tsort</key>
			<string>22</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10843</string>
			<key>tname</key>
			<string>长线选项</string>
			<key>tsort</key>
			<string>66</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201609/28428561_a5e2f075e9cee44d7843c00978f40e87.png</string>
			<key>tid</key>
			<string>10549</string>
			<key>tname</key>
			<string>新作</string>
			<key>tsort</key>
			<string>67</string>
			<key>ttheme</key>
			<string>a4d120</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10842</string>
			<key>tname</key>
			<string>独立场景</string>
			<key>tsort</key>
			<string>68</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10844</string>
			<key>tname</key>
			<string>抓人剧情</string>
			<key>tsort</key>
			<string>69</string>
			<key>ttheme</key>
			<string></string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string></string>
			<key>tid</key>
			<string>10845</string>
			<key>tname</key>
			<string>悬念BE</string>
			<key>tsort</key>
			<string>70</string>
			<key>ttheme</key>
			<string></string>
		</dict>
	</array>
	<key>user_custom</key>
	<array>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7291276_1fa244768c48c1d44f8f36b1276b71a1.png</string>
			<key>tid</key>
			<string>5</string>
			<key>tname</key>
			<string>古风</string>
			<key>tsort</key>
			<string>1</string>
			<key>ttheme</key>
			<string>896d63</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_d54196d9bc8f37fef965525b4758311d.png</string>
			<key>tid</key>
			<string>15</string>
			<key>tname</key>
			<string>现代</string>
			<key>tsort</key>
			<string>2</string>
			<key>ttheme</key>
			<string>5b89cb</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_fd1da86c6214c5034d4bbd79bc1f3dd3.png</string>
			<key>tid</key>
			<string>241</string>
			<key>tname</key>
			<string>架空</string>
			<key>tsort</key>
			<string>3</string>
			<key>ttheme</key>
			<string>27bec6</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_4983ae0a50db3f1a9910d0bd26e82063.png</string>
			<key>tid</key>
			<string>7</string>
			<key>tname</key>
			<string>明星</string>
			<key>tsort</key>
			<string>4</string>
			<key>ttheme</key>
			<string>b466bf</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_a9ed52fa40ad268f9571437df9605dde.png</string>
			<key>tid</key>
			<string>569</string>
			<key>tname</key>
			<string>非遗</string>
			<key>tsort</key>
			<string>5</string>
			<key>ttheme</key>
			<string>71bb62</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_158c87f34afb7f8df41bb2a9a30659e0.png</string>
			<key>tid</key>
			<string>566</string>
			<key>tname</key>
			<string>光影</string>
			<key>tsort</key>
			<string>6</string>
			<key>ttheme</key>
			<string>837c96</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>2</string>
			<key>ticon_url</key>
			<string>/201604/7172428_fe4592e5f4c341eba4cd4a1976f52db6.png</string>
			<key>tid</key>
			<string>568</string>
			<key>tname</key>
			<string>小说</string>
			<key>tsort</key>
			<string>7</string>
			<key>ttheme</key>
			<string>b1986e</string>
		</dict>
		<dict>
			<key>main_custom_set</key>
			<string>1</string>
			<key>ticon_url</key>
			<string>/201608/7172428_7ba3788446ba33d02d6d8fa8745f4b91.png</string>
			<key>tid</key>
			<string>10793</string>
			<key>tname</key>
			<string>竖版</string>
			<key>tsort</key>
			<string>13</string>
			<key>ttheme</key>
			<string>6b6193</string>
		</dict>
	</array>
</dict>
</plist>
